In [54]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\admin\anaconda3\lib\site-packages (3.25.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\admin\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in c:\users\admin\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: click in c:\users\admin\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (7.1.2)

In [55]:
import cassandra
print(cassandra.__version__)

3.25.0

In [56]:
#FOR CONNECTING TO CLOUD SYSTEM
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {'secure_connect_bundle':r'C:\Users\Admin\Downloads\secure-connect-test.zip'}
auth_provider = PlainTextAuthProvider('xbCLnGiTgbFemYjnNKyXmdJk', 'uZQFsScneNQ8+WhqNmLehyRXNZ4HZ233ktFIw1fkCulK,czUQ7hGkJJze4lzHU2Mcl7vOMm56,7sQJYiFLIUwQzjw4BEeWufXeaMC8vG1exmzGaoQ+glmBLW8+48tIAd')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local")
print(row)

<cassandra.cluster.ResultSet object at 0x0000017ABE58BC10>

In [1]:
# FOR CONNECTING TO LOCAL SYSYTEM
from cassandra.cluster import Cluster
#from cassandra.auth import PlainTextAuthProvider

#cloud_config= {'secure_connect_bundle':r'C:\Users\Admin\Downloads\secure-connect-test.zip'}
#auth_provider = PlainTextAuthProvider('xbCLnGiTgbFemYjnNKyXmdJk', 'uZQFsScneNQ8+WhqNmLehyRXNZ4HZ233ktFIw1fkCulK,czUQ7hGkJJze4lzHU2Mcl7vOMm56,7sQJYiFLIUwQzjw4BEeWufXeaMC8vG1exmzGaoQ+glmBLW8+48tIAd')
cluster = Cluster()
session = cluster.connect()

row = session.execute("select release_version from system.local")
print(row)

<cassandra.cluster.ResultSet object at 0x00000208F7F11130>

In [3]:
# create keyspace in database
row = session.execute("CREATE KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

In [4]:
#use keyspace
row=session.execute("use home;")

In [5]:
# alter keyspace
row=session.execute("ALTER KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 3};")

In [6]:
#dropping the keyspace
row=session.execute("DROP KEYSPACE home;")

In [8]:
try:
    row=session.execute("use home;")
except Exception as e:
    print(e)

Error from server: code=2200 [Invalid query] message="Keyspace 'home' does not exist"

In [9]:
row = session.execute("CREATE KEYSPACE home WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 4};")

In [10]:
#creating table in the keyspace
row=session.execute("CREATE TABLE Members(id int PRIMARY KEY,name text,age int,height int);")

In [11]:
#inserting into table
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (1,'mohit',25,160);")

In [13]:
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (2,'shubham',26,165);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (3,'aradhana',25,142);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (4,'rakesh',55,157);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (5,'poonam',52,145);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (6,'seema',30,145);")

In [15]:
#view the data in table
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, height=145, name='poonam')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=26, height=165, name='shubham')
Row(id=4, age=55, height=157, name='rakesh')
Row(id=6, age=30, height=145, name='seema')
Row(id=3, age=25, height=142, name='aradhana')

In [16]:
#not inserting value in some column
row=session.execute("INSERT INTO Members(id,name,age) VALUES (9,'sakshi',32);")

In [17]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)
#null where data not given

Row(id=5, age=52, height=145, name='poonam')
Row(id=1, age=25, height=160, name='mohit')
Row(id=2, age=26, height=165, name='shubham')
Row(id=4, age=55, height=157, name='rakesh')
Row(id=6, age=30, height=145, name='seema')
Row(id=9, age=32, height=None, name='sakshi')
Row(id=3, age=25, height=142, name='aradhana')

In [19]:
#alter existing table (adding more columns to table)
row=session.execute("ALTER TABLE Members ADD email varchar;")

In [20]:
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, email=None, height=145, name='poonam')
Row(id=1, age=25, email=None, height=160, name='mohit')
Row(id=2, age=26, email=None, height=165, name='shubham')
Row(id=4, age=55, email=None, height=157, name='rakesh')
Row(id=6, age=30, email=None, height=145, name='seema')
Row(id=9, age=32, email=None, height=None, name='sakshi')
Row(id=3, age=25, email=None, height=142, name='aradhana')

In [29]:
#dropping the table
row=session.execute("DROP TABLE if exists Member;")

In [32]:
#truncating (removing all data from table)
row=session.execute("TRUNCATE Members;")

In [33]:
#table is empty now
for i in row:
    print(i)

In [41]:
#INSERING DATA 
row=session.execute("INSERT INTO Members(id,name,age,height,email) VALUES (2,'shubham',26,165,'memohit@gmail.com');")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (3,'aradhana',25,142);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (4,'rakesh',55,157);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (5,'poonam',52,145);")
row=session.execute("INSERT INTO Members(id,name,age,height) VALUES (6,'seema',30,145);")

In [54]:
#update existing table 
row=session.execute("UPDATE home.Members SET name= 'Mohit Raghav',age = 28 WHERE id=1;")

In [55]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, email=None, height=145, name='poonam')
Row(id=1, age=28, email=None, height=None, name='Mohit Raghav')
Row(id=2, age=26, email='memohit@gmail.com', height=165, name='shubham')
Row(id=4, age=55, email=None, height=157, name='rakesh')
Row(id=6, age=30, email=None, height=145, name='seema')
Row(id=3, age=25, email=None, height=142, name='aradhana')

In [56]:
#delete a particular row or a part of row
row=session.execute("DELETE age FROM Members WHERE id=3;")

In [57]:
#view the data in table 
row=session.execute("select * from Members;")
for i in row:
    print(i)

Row(id=5, age=52, email=None, height=145, name='poonam')
Row(id=1, age=28, email=None, height=None, name='Mohit Raghav')
Row(id=2, age=26, email='memohit@gmail.com', height=165, name='shubham')
Row(id=4, age=55, email=None, height=157, name='rakesh')
Row(id=6, age=30, email=None, height=145, name='seema')
Row(id=3, age=None, email=None, height=142, name='aradhana')

In [65]:
#selecting particular data
row=session.execute("SELECT name, age FROM Members WHERE id = 1;")

In [66]:
for i in row:
    print(i)

Row(name='Mohit Raghav', age=28)