### Check Connection

In [1]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
        'secure_connect_bundle': 'C:/Users/LENOVO/Downloads/secure-connect-test101.zip'
}
auth_provider = PlainTextAuthProvider('iCZdOtzZITXBqqAxWNyJGHqL', 'Hp3PSa+qgJW7.jmMqN.Z6McUnNCCqk4ZHzQLR4l3Bwy2ITZqfsMl7drvKx3bbikmebe1GZtSz6,IZ62gZmE,98Z2tpX2oNxan6P8uizCPj+3b9T2s67-q,cB4H4-G9A0')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
    print(row[0])
else:
    print("An error occurred.")

4.0.0.6811

### Create Table

In [4]:
row = session.execute("CREATE TABLE ineuron2021.dept(dept_no int PRIMARY KEY, dept_name text, location text);").one()
print(row)

None

In [39]:
row = session.execute("CREATE TABLE ineuron2021.emp(emp_no bigint PRIMARY KEY, ename text, job text, mgr bigint, hiredate timestamp, salary bigint, comm bigint, dept_no int);").one()
print(row)

None

### Insert Data

In [11]:
row = session.execute("INSERT INTO ineuron2021.emp(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(1, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()
print(row)

None

In [62]:
session.execute("INSERT INTO ineuron2021.emp(emp_no, ename, job, mgr, hiredate, salary, comm, dept_no) VALUES(7369, 'SMITH', 'CLERK',7902,'1980-10-17',  800, 0, 20);").one()
print(row)

Row(emp_no=7369, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

### Display Table

In [16]:
row = session.execute("SELECT * FROM ineuron2021.dept").one()
print(row)

Row(dept_no=10, dept_name='ACCOUNTING', location='NEW YORK')

In [49]:
row = session.execute("SELECT * FROM ineuron2021.emp").one()
print(row)

Row(emp_no=7369, comm=0, dept_no=20, ename='SMITH', hiredate=datetime.datetime(1980, 10, 17, 0, 0), job='CLERK', mgr=7902, salary=800)

### Delete Record

In [47]:
row = session.execute("DELETE FROM ineuron2021.emp where emp_no=7369;").one()
print(row)

None

### Delete/Drop Table

In [ ]:
row = session.execute("DROP TABLE ineuron2021.emp").one()
print(row)

### Count Records

In [64]:
row = session.execute("SELECT COUNT(*) FROM ineuron2021.emp;").one()
print(row)

Row(count=14)

In [65]:
row = session.execute(" SELECT emp_no, ename, job FROM ineuron2021.emp;").one()
print(row)

Row(emp_no=7934, ename='MILLER', job='CLERK')

### WHERE clause

In [112]:
row = session.execute("SELECT * FROM ineuron2021.emp where emp_no=7900;").one()
print(row)

Row(emp_no=7900, comm=0, dept_no=30, ename='JAMES', hiredate=datetime.datetime(1981, 12, 3, 0, 0), job='CLERK', mgr=7698, salary=950)

In [114]:
row = session.execute("SELECT * FROM ineuron2021.emp where job='CLERK';").one()
print(row)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

In [115]:
row = session.execute("SELECT * FROM ineuron2021.emp where ename='SMITH';").one()
print(row)

InvalidRequest: Error from server: code=2200 [Invalid query] message="Cannot execute this query as it might involve data filtering and thus may have unpredictable performance. If you want to execute this query despite the performance unpredictability, use ALLOW FILTERING"

### Aggregation

In [116]:
row = session.execute("SELECT COUNT(*) FROM ineuron2021.emp;").one()
print(row)

Row(count=14)

In [119]:
row = session.execute("SELECT SUM(salary) FROM ineuron2021.emp;").one()
print(row)

Row(system_sum_salary=29025)

In [123]:
row = session.execute("SELECT MAX(salary) FROM ineuron2021.emp;").one()
print(row)

Row(system_max_salary=5000)

In [124]:
row = session.execute("SELECT MIN(salary) FROM ineuron2021.emp;").one()
print(row)

Row(system_min_salary=800)

In [125]:
row = session.execute("SELECT * FROM ineuron2021.emp LIMIT 10;").one()
print(row)

Row(emp_no=7934, comm=0, dept_no=10, ename='MILLER', hiredate=datetime.datetime(1982, 1, 23, 0, 0), job='CLERK', mgr=7782, salary=1300)

In [139]:
row = session.execute("SELECT ename as Employee_Name, salary, comm as commission FROM ineuron2021.emp;").one()
print(row)

Row(employee_name='MILLER', basic=1300, commission=0)

### Join

In [127]:
row = session.execute("SELECT ename, dept_name FROM ineuron2021.emp ineuron2021.dept where ineuron2021.emp.deptno = ineuron2021.dept.dept_no;").one()
print(row)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:45 mismatched input 'ineuron2021' expecting EOF (..., dept_name FROM ineuron2021.emp [ineuron2021]...)">